MyMapProject.API/Connected Services/vietbandoAPI/PartnerPortalService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://developers.vietbando.com/V3/Service/PartnerPortalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PP.Services" />
  <xs:import schemaLocation="http://developers.vietbando.com/V3/Service/PartnerPortalService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" />
  <xs:import schemaLocation="http://developers.vietbando.com/V3/Service/PartnerPortalService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ReverseGeoCoding_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q1:ReverseGeocodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseGeoCoding_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="ReverseGeoCoding_RestResult" nillable="true" type="q2:SingleReverseGeocodeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchReverseGeoCoding_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q3:BatchReverGeocodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchReverseGeoCoding_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="BatchReverseGeoCoding_RestResult" nillable="true" type="q4:SingleBatchReverseGeocodingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCentroidOfRegion_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCentroidOfRegion_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetCentroidOfRegion_RestResult" nillable="true" type="q5:SinglePoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMBROfRegion_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMBROfRegion_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetMBROfRegion_RestResult" nillable="true" type="q6:SingleMBROfRegionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNameOfRegion_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNameOfRegion_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetNameOfRegion_RestResult" nillable="true" type="q7:Singlestring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubRegionCodesOfRegion_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubRegionCodesOfRegion_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetSubRegionCodesOfRegion_RestResult" nillable="true" type="q8:SingleArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubRegionNamesOfRegion_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubRegionNamesOfRegion_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetSubRegionNamesOfRegion_RestResult" nillable="true" type="q9:SingleArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubRegionNameCodesOfRegion_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubRegionNameCodesOfRegion_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetSubRegionNameCodesOfRegion_RestResult" nillable="true" type="q10:SingleSubRegionNameCodesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbnailOfRegion_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q11:GetThumbnailOfRegionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbnailOfRegion_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetThumbnailOfRegion_RestResult" nillable="true" type="q12:Singlebase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhatHere_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q13:Point" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhatHere_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="WhatHere_RestResult" nillable="true" type="q14:SingleVietBandoPOI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestObjects_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q15:GetNearestObjectsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestObjects_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetNearestObjects_RestResult" nillable="true" type="q16:MultipleVietBandoPOI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShortestPath_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q17:FindShortestPathRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShortestPath_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="FindShortestPath_RestResult" nillable="true" type="q18:SingleDirectionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShortestPathOrderFull_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q19:FindShortestPathRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShortestPathOrderFull_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="FindShortestPathOrderFull_RestResult" nillable="true" type="q20:SingleFindShortestPathOrderResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForecastRoadsByTrafficSign_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q21:ForecastRoadsByTrafficSignRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForecastRoadsByTrafficSign_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="ForecastRoadsByTrafficSign_RestResult" nillable="true" type="q22:SingleForecastTrackingGeoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackingInformation_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q23:TrackingInformationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackingInformation_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetTrackingInformation_RestResult" nillable="true" type="q24:SingleTrackingInformationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShortestWithBarriers_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q25:ShortestPathWithBarriersRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShortestWithBarriers_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="FindShortestWithBarriers_RestResult" nillable="true" type="q26:SingleShortestPathWithBarriersResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SnapToStreet_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q27:SnapToStreetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SnapToStreet_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="SnapToStreet_RestResult" nillable="true" type="q28:SingleArrayOfPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistances_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q29:GetDistancesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistances_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetDistances_RestResult" nillable="true" type="q30:SingleArrayOfArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistancesOnPaths_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q31:GetDistancesOnPathsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistancesOnPaths_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetDistancesOnPaths_RestResult" nillable="true" type="q32:SingleArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPointInShape_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q33:CheckPointInShapeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPointInShape_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="CheckPointInShape_RestResult" nillable="true" type="q34:Singleboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAll_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q35:SearchAllRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAll_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="SearchAll_RestResult" nillable="true" type="q36:MultipleVietBandoPOI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAllWithCategoryFilter_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q37:SearchAllWithCategoryFilterRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAllWithCategoryFilter_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="SearchAllWithCategoryFilter_RestResult" nillable="true" type="q38:MultipleVietBandoPOI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchNearBy_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q39:SearchNearByRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchNearBy_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="SearchNearBy_RestResult" nillable="true" type="q40:MultipleVietBandoPOI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoSuggestSearch_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="keyword" nillable="true" type="q41:AutoSuggestSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoSuggestSearch_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="AutoSuggestSearch_RestResult" nillable="true" type="q42:Multiplestring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeoCoding_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q43:GeoCodingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeoCoding_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GeoCoding_RestResult" nillable="true" type="q44:SingleGeoCodingReponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupCategories_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q45:GetAllGroupCategoriesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupCategories_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetAllGroupCategories_RestResult" nillable="true" type="q46:MultipleGroupCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesInGroup_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q47:GetCategoriesInGroupRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesInGroup_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetCategoriesInGroup_RestResult" nillable="true" type="q48:MultipleCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryDetail_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q49:GetCategoryDetailRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryDetail_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetCategoryDetail_RestResult" nillable="true" type="q50:SingleCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupCategoryDetail_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q51:GetGroupCategoryDetailRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupCategoryDetail_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetGroupCategoryDetail_RestResult" nillable="true" type="q52:SingleGroupCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPointInViolation_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q53:CheckPointInViolationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPointInViolation_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="CheckPointInViolation_RestResult" nillable="true" type="q54:Singleboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoadSpeed_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q55:GetRoadSpeedRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoadSpeed_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetRoadSpeed_RestResult" nillable="true" type="q56:SingleRoadSpeedResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchGetRoadSpeed_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="request" nillable="true" type="q57:BatchGetRoadSpeedRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchGetRoadSpeed_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="BatchGetRoadSpeed_RestResult" nillable="true" type="q58:SingleBatchGetRoadSpeedReult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseGeoCoding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
        <xs:element minOccurs="0" name="radius" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseGeoCodingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="ReverseGeoCodingResult" nillable="true" type="q59:SingleReverseGeocodeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchReverseGeoCoding">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="points" nillable="true" type="q60:ArrayOfPoint" />
        <xs:element minOccurs="0" name="radius" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchReverseGeoCodingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="BatchReverseGeoCodingResult" nillable="true" type="q61:SingleBatchReverseGeocodingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCentroidOfRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCentroidOfRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetCentroidOfRegionResult" nillable="true" type="q62:SinglePoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMBROfRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMBROfRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetMBROfRegionResult" nillable="true" type="q63:SingleMBROfRegionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNameOfRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNameOfRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetNameOfRegionResult" nillable="true" type="q64:Singlestring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubRegionCodesOfRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubRegionCodesOfRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetSubRegionCodesOfRegionResult" nillable="true" type="q65:SingleArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubRegionNamesOfRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubRegionNamesOfRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetSubRegionNamesOfRegionResult" nillable="true" type="q66:SingleArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubRegionNameCodesOfRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubRegionNameCodesOfRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetSubRegionNameCodesOfRegionResult" nillable="true" type="q67:SingleSubRegionNameCodesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbnailOfRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="width" type="xs:int" />
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="regionColor" nillable="true" type="q68:RegionColor" />
        <xs:element minOccurs="0" name="defaultColor" type="xs:int" />
        <xs:element minOccurs="0" name="imgType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbnailOfRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetThumbnailOfRegionResult" nillable="true" type="q69:Singlebase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhatHere">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhatHereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="WhatHereResult" nillable="true" type="q70:SingleVietBandoPOI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
        <xs:element minOccurs="0" name="radius" type="xs:double" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetNearestObjectsResult" nillable="true" type="q71:MultipleVietBandoPOI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShortestPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="points" nillable="true" type="q72:ArrayOfPoint" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="transportType" type="q73:TransportType" />
        <xs:element minOccurs="0" name="alleyAvoidance" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShortestPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="FindShortestPathResult" nillable="true" type="q74:SingleDirectionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShortestPathOrderFull">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="points" nillable="true" type="q75:ArrayOfPoint" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="transportType" type="q76:TransportType" />
        <xs:element minOccurs="0" name="alleyAvoidance" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShortestPathOrderFullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="FindShortestPathOrderFullResult" nillable="true" type="q77:SingleFindShortestPathOrderResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShortestWithBarriers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="points" nillable="true" type="q78:ArrayOfPoint" />
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="barriers" nillable="true" type="q79:ArrayOfstring" />
        <xs:element minOccurs="0" name="departureTime" type="xs:double" />
        <xs:element xmlns:q80="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="timeRanges" nillable="true" type="q80:ArrayOfArrayOfdouble" />
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="transportType" type="q81:TransportType" />
        <xs:element minOccurs="0" name="vehicleWeight" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShortestWithBarriersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="FindShortestWithBarriersResult" nillable="true" type="q82:SingleShortestPathWithBarriersResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SnapToStreet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="points" nillable="true" type="q83:ArrayOfPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SnapToStreetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="SnapToStreetResult" nillable="true" type="q84:SingleArrayOfPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistances">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="sources" nillable="true" type="q85:ArrayOfPoint" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="destinations" nillable="true" type="q86:ArrayOfPoint" />
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="transportType" type="q87:TransportType" />
        <xs:element minOccurs="0" name="alleyAvoidance" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetDistancesResult" nillable="true" type="q88:SingleArrayOfArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistancesOnPaths">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="source" nillable="true" type="q89:Point" />
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="destinations" nillable="true" type="q90:ArrayOfPoint" />
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="transportType" type="q91:TransportType" />
        <xs:element minOccurs="0" name="alleyAvoidance" type="xs:boolean" />
        <xs:element minOccurs="0" name="isReverse" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistancesOnPathsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetDistancesOnPathsResult" nillable="true" type="q92:SingleArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPointInShape">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="point" nillable="true" type="q93:Point" />
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="shape" nillable="true" type="q94:ArrayOfPoint" />
        <xs:element minOccurs="0" name="radius" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPointInShapeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="CheckPointInShapeResult" nillable="true" type="q95:Singleboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAllWithCategoryFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Lx" type="xs:double" />
        <xs:element minOccurs="0" name="Ly" type="xs:double" />
        <xs:element minOccurs="0" name="Rx" type="xs:double" />
        <xs:element minOccurs="0" name="Ry" type="xs:double" />
        <xs:element minOccurs="0" name="IsOrder" type="xs:boolean" />
        <xs:element minOccurs="0" name="CategoryCode" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAllWithCategoryFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="SearchAllWithCategoryFilterResult" nillable="true" type="q96:MultipleVietBandoPOI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoSuggestSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoSuggestSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="AutoSuggestSearchResult" nillable="true" type="q97:Multiplestring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchNearBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="point" nillable="true" type="q98:Point" />
        <xs:element minOccurs="0" name="radius" type="xs:double" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchNearByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="SearchNearByResult" nillable="true" type="q99:MultipleVietBandoPOI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeoCoding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeoCodingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GeoCodingResult" nillable="true" type="q100:SingleGeoCodingReponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Lx" type="xs:double" />
        <xs:element minOccurs="0" name="Ly" type="xs:double" />
        <xs:element minOccurs="0" name="Rx" type="xs:double" />
        <xs:element minOccurs="0" name="Ry" type="xs:double" />
        <xs:element minOccurs="0" name="IsOrder" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="SearchAllResult" nillable="true" type="q101:MultipleVietBandoPOI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isGetCategory" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetAllGroupCategoriesResult" nillable="true" type="q102:MultipleGroupCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesInGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesInGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetCategoriesInGroupResult" nillable="true" type="q103:MultipleCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetCategoryDetailResult" nillable="true" type="q104:SingleCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupCategoryDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupCode" type="xs:int" />
        <xs:element minOccurs="0" name="isGetCategory" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupCategoryDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetGroupCategoryDetailResult" nillable="true" type="q105:SingleGroupCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPointInViolation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
        <xs:element minOccurs="0" name="VehicleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPointInViolationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="CheckPointInViolationResult" nillable="true" type="q106:Singleboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoadSpeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="point" nillable="true" type="q107:Point" />
        <xs:element minOccurs="0" name="speed" type="xs:double" />
        <xs:element minOccurs="0" name="Heading" type="xs:double" />
        <xs:element minOccurs="0" name="radius" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoadSpeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetRoadSpeedResult" nillable="true" type="q108:SingleRoadSpeedResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchGetRoadSpeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="points" nillable="true" type="q109:ArrayOfPoint" />
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="speeds" nillable="true" type="q110:ArrayOfdouble" />
        <xs:element xmlns:q111="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="headings" nillable="true" type="q111:ArrayOfdouble" />
        <xs:element xmlns:q112="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="transportTypes" nillable="true" type="q112:ArrayOfint" />
        <xs:element minOccurs="0" name="radius" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchGetRoadSpeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="BatchGetRoadSpeedResult" nillable="true" type="q113:SingleBatchGetRoadSpeedReult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForecastRoadsByTrafficSign">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="coordinator" nillable="true" type="q114:Point" />
        <xs:element minOccurs="0" name="speed" type="xs:double" />
        <xs:element minOccurs="0" name="heading" type="xs:double" />
        <xs:element minOccurs="0" name="transportType" type="xs:int" />
        <xs:element minOccurs="0" name="distance" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForecastRoadsByTrafficSignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="ForecastRoadsByTrafficSignResult" nillable="true" type="q115:SingleForecastTrackingGeoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackingInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="prePoint" nillable="true" type="q116:Point" />
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/PP.Services" minOccurs="0" name="curPoint" nillable="true" type="q117:Point" />
        <xs:element minOccurs="0" name="transportType" type="xs:int" />
        <xs:element minOccurs="0" name="radius" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackingInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/Vietbando.MessageType" minOccurs="0" name="GetTrackingInformationResult" nillable="true" type="q118:SingleTrackingInformationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>